.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  background: #313131;
  box-shadow: 2px 0px 60px -20px black;
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  h2 {
    padding: 1rem;
  }
}

.library-song {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  cursor: pointer;
  transition: background 0.5s ease;
  &:hover {
    background: rgb(63, 63, 63);
  }
  img {
    width: 30%;
    margin-right: 10px;
    border-radius: 50%;
  }

  .song-details {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
    h3 {
      font-size: 16px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    h4 {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.selected {
  background: violet;
}

.library-active {
  margin-left: 30%;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
